/* Blog CSS start */
.blog_post ul.blog-posts {
    padding: 0;
    margin: 0;
}
.blog_post .entry-detail .content-text a{
    text-decoration: underline;
    color: #408cff !important;
}
.blog-posts {
    line-height: 24px;
    margin-top: 20px;
}
.blog-posts .post-item {
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
    margin-top: -1px; list-style: outside none none;
}
.entry-title a {
    text-transform: uppercase;
    font-size: 18px;
    display: inherit;
    display: -webkit-box;
    display: -moz-box;
    -webkit-line-clamp: 3;
    -moz-line-clamp: 3;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    max-height: 50px;
    overflow: hidden;
    padding:0px;
}
.blog-posts .post-item .entry-more a {
    border: 2px solid #054988;
    color: #fff;
    padding: 8px 25px;
    background: #054988;
    border-radius: 50px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 15px;
}
.blog-posts .post-item .entry-more {
    margin-top: 15px;
}
.blog-posts .post-item .entry-more a:hover {
    background: #000;
    border: 2px solid #000;
}
.blog_post .pagination-area{
    border-top: none;
}
.blog_post {
    margin-top: 25px;
}
.sidebar .blog-module {
    margin-bottom: 30px;
    overflow: hidden;
    margin-top: 50px;
}
.sidebar .blog-module ul{
    padding-bottom: 10px;
}
.sidebar .blog-module ul li a{
    font-size: 16px;
    display: block;
    padding: 10px 0px;
    border-bottom: 1px solid #eaeaea;
}
.sidebar .blog-module ul li:last-child a{
    border-bottom: none;
}
.sidebar .blog-module .owl-dots {
    bottom: 5px;
}
.sidebar .blog-module:last-child {
    margin-bottom: 0;
}
.sidebar .blog-module img {
    margin: 0 auto;
}
.sidebar .block {
    border: 1px solid #eaeaea;
    background: #fff;
}
.sidebar .block .title_block {
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #eee;
    padding: 12px 14px;
    text-transform: uppercase;
}
.sidebar .block .block_content {
    padding: 2px 14px;
}
.sidebar .tree-menu li {
    line-height: 24px;
}
.blog-list-sidebar li {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}
.blog-list-sidebar li:last-child {
    border: none;
    padding-bottom: 0;
}
.blog-list-sidebar li .post-thumb {
    width: 80px;
    height: 60px;
    float: left;
    border: 1px solid #eaeaea;
    padding: 4px;
    background: #fcfcfc;
}
.blog-list-sidebar li .post-thumb img{
    width: 100%;
    height: 50px;
}
.blog-list-sidebar li .post-info {
    margin-left: 90px;
    color: #999;
}
.blog-list-sidebar li .post-info .post-meta {
    font-size: 12px;
    margin-top: 5px;
}
.blog-list-sidebar li .post-info .fa {
    line-height: inherit;
}
.entry-detail .entry-photo img {
    border: 1px solid #eaeaea;
    padding: 5px;
    background: #fff;
    width: 100%;
    height: 420px;
    object-fit: cover;
}
.slider-items-products #blog-slider .owl-buttons .owl-next, .slider-items-products #blog-slider .owl-buttons .owl-prev{
    top: 42%;
}
.entry-detail .entry-meta-data {
    padding: 10px 15px;
    color: #666;
    border: 1px solid #eaeaea;
    background: #fff;
    border-top: none;
}
.entry-detail .entry-meta-data .fa {
    line-height: inherit;
}
.entry-detail .entry-meta-data span {
    margin-right: 10px;
}
.entry-detail .entry-meta-data .author .fa {
    opacity: 0.7;
}
.entry-detail .entry-meta-data .rating {
    float: right;
}
.entry-detail .entry-meta-data .post-star span {
    margin: 0;
}
/* Blog CSS end */
.blue {
    color: #074a88;
}
.white {
    color: #fff;
}

.about-page p{
    font-size: 1.7rem;
    line-height: 30px;
}
.blog-posts .post-item .entry-meta-data span {
    margin-right: 12px;
    border-right: 1px #ddd solid;
    padding-right: 10px;
}
.blog-posts .post-item .entry-meta-data span:last-child {
    margin-right: 12px;
    border-right: 0px #ddd solid;
    padding-right: 10px;
}
.post-item article .entry-excerpt{
    display: -webkit-box;
    display: -moz-box;
    -webkit-line-clamp: 3;
    -moz-line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    height: 70px;
    overflow: hidden;
    text-align: justify;
}
.cms_page{
    min-height: 75vh;
    padding-top: 50px;
}
.cms_page p{
    font-size: 16px;
    line-height: 26px;
}
.applied_box h3{
    font-size: 20px;
    font-weight: normal;
    color: #17cf17;
    margin: 0;
    border: 1px dashed #000000;
    padding: 5px;
    padding-left: 10px;
}
.applied_box h3 span i{
    font-size: 19px;
    padding-left: 10px;
    color: #17cf17;
}
.applied_box .cancel_code{
    font-size: 16px;
    color: #000;
    padding: 5px;
    border-radius: 5px;
    line-height: 13px;
    margin-top: 5px;
}
.checkout-page ul{
    margin: 0;
}
.checkout-page ul li.row{
    margin-bottom: 20px;
}
.checkout-page .box-border .form-control{
    height: 48px;
}
.color_blue{
    color: #054988;
}
label.checkbox-inline{
    font-size: 18px;
}
.payment_btn{
    font-size: 21px;
    margin-bottom: 20px;
}
.payment_btn i{
    color: #054988;
}
.sidebar-checkout{
    margin-top: 65px !important;
    margin-left: 8px;
}
.sidebar-checkout .block-content{
    padding: 0;
}
.sidebar-checkout ul .list-group-item{
    border-left: 0;
    border-right: 0;
    border-radius: 0 !important;
}
.sidebar-checkout ul .list-group-item h6{
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 215px;
}
.sidebar-checkout ul .list-group-item.checkout_total{
    background-color: #fffed3;
}
.checkout_total h6{
    font-size: 23px !important;
}
.checkout_total .price{
    font-size: 23px !important;
    margin-top: 6px;
}
.sidebar-checkout ul .list-group-item .price{
    font-size: 20px;
    margin-top: 6px;
    margin-left: -20px;
    color: #000;
}
.sidebar-checkout ul .list-group-item small{
    font-size: 13px;
    text-transform: capitalize;
}
.sidebar-bar-title h3{
    text-transform: uppercase;
    font-size: 23px;
    color: #000;
    margin: 0;
}
.sidebar-bar-title h3 span{
    line-height: 35px;
    color: #000;
}
.sidebar-bar-title .badge{
    line-height: 35px;
    border-radius: 84px;
    padding: 0px 14px;
    font-size: 18px;
    color: #fff;
}
.d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}
.justify-content-between {
    -webkit-box-pack: justify!important;
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}
.bg-light {
    background-color: #f8f9fa!important;
}
.text-success, .text-success h6, .text-success small {
    color: #28a745!important;
}
/*.checkout_product:hover{
    background-color: #f8f9fa;
}
.checkout_product:hover .price{
    opacity: 0;
}*/
.remove_product{
    display: none;
}
.remove_product i{
    font-size: 28px;
    margin-top: 6px;
    color: #be2636;
    cursor: pointer;
}
.checkout_product:hover .remove_product{
    display: inline-block;
}
aside.sidebar{
    position: sticky;
    top: 10px;
}
.thank-you-page{
    min-height: 65vh;
    text-align: center;
    padding-top: 60px;
}
.thank-you-page .main-heading h1{
    font-weight: bold;
    text-transform: uppercase;
}
.thank-you-page .successfull_block{
    margin-top: 25px;
}
.thank-you-page .successfull_block i{
    font-size: 110px;
    color: #259f00;
}
.thank-you-page .successfull_block h3{
    padding-bottom: 20px;
    padding-top: 15px;
}
.auction_video_btn{
    cursor: pointer;
}
.cart_badge{
    background-color: #0fc74b;
    border: 1px solid #0fc74b;
    color: #fff;
    padding: 5px 12px;
    border-radius: 50px;
    font-size: 18px;
    position: absolute;
    top: 9px;
    right: -18px;
}
.no-page-found{
    margin-top: 5%;
}
.no-page-found h4 {
    font-size: 20px;
    padding-top: 50px;
}
.error{
    color: red;
}
.location_search{
    background-color: #fff;
    position: absolute;
    left: 15px;
    /*right: 0px;*/
    top: 80px;
    padding: 10px 15px;
    border: 3px solid #d3d3d3;
    text-align: left;
    max-height: 400px;
    overflow-y: auto;
    z-index: 3;
    width: 88%;
}
.location_result ul, .shipping_location_result ul {
    padding: 10px !important;
}
nav.navbar.bootsnav.navbar-fixed{
    height: 75px;
    background-color: rgba(255, 255, 255, 0.87);
    box-shadow: none;
    border-bottom: 1px solid #d3d3d3;
    top: 40px;
}
.location_search::-webkit-scrollbar, .location_search::-moz-scrollbar {
    width: 6px;
}
.location_search::-webkit-scrollbar-track, .location_search::-moz-scrollbar-track {
    background-color:  #ad83ff;
    border-radius: 50px;
}

.location_search::-webkit-scrollbar-thumb, .location_search::-moz-scrollbar-thumb {
    background-color: #4800bf;
}
.location_search li{
    display: block;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
    cursor: pointer;
}
.location_search li:last-child{
    border-bottom: 0;
}
.location_search li:first-child{
    padding-top: 0;
    margin-bottom: 0;
}
.location_search li .list_item{ 
    color: #07b107;
    font-weight: 600;
    font-size: 14px;
    display: block;
}
.location_search li h5{
    margin: 0;
    font-size: 16px;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    display: block;
    white-space: normal !important;
}
.product_search_result ul{
    max-height: 500px;
    overflow-y: auto;
    padding: 10px 10px;
    left: -70px;
    top: 43px;
    right: 0px;
    width: 375px;
    z-index: 999;
}
.product_search_result ul li:hover .entry_title{
    color: #054988
}
.product_search_result ul li .post-meta{
    margin-top: 0 !important;
}
.product_search_result ul li .post-meta span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
.inner-categories .category_block, .row.top_brands{
    min-height: 65vh;
}
.product-block{
    min-height: 65vh;
}
.no-product-found{

    text-align: center;
    margin-top: 65px;
}
.no-product-found i{
    font-size: 120px;
    color: #ddd;
}
.no-product-found h3{
    font-size: 23px;
    margin-top: 20px;
    color: #959595;
    margin-bottom: 15px;
}
.no-product-found p{
    color: #959595;
}
.product-thumbnail .pr-img-area img{
    height: 200px;
    width: auto;
}
.tab-content p, .tab-content ul li{
    font-size: 17px;
    line-height: 27px;
}
.full_content{
    padding-bottom: 50px;
}
.added_in_text{
    padding-bottom: 10px;
    color: #03cb31;
    font-size: 19px;
}
.cart{
    min-height: 65vh;
}
.cart .order-detail-content .cart_block{
    min-height: 25vh;
}
.empty-cart-block{
    text-align: center;
}
.empty-cart-block i{
    font-size: 185px;
    padding-bottom: 25px;
    color: #ddd;
}
.empty-cart-block h3{
    color: #5c5c5c;
}

.ajax_loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.6;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    z-index: 9;
}
.ajax_loader img {
    width: 200px;
    height: 100px;
}
.ajax_loader.absolute {
    position: absolute;
}
.category_block {
    position: relative;
    min-height: 300px;
    margin-top: 45px;
}
.lds-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #000;
    margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.search_sidebar_sticky{
    position: sticky;
    top: 55px;
}
.cart_description{
    max-width: 230px;
}
.cart_description .product-name{
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: inline-block;
}
.cart_summary thead tr th{
    font-size: 15px;
}
.cart_summary .price{
    font-size: 17px;
}
.cart_summary .action a{
    font-size: 22px;
}
.category_block .single-collection{
    margin-bottom: 35px;
}
.watch_video_block .btn{
    font-size: 20px;
}
.watch_video_block .btn i{
    padding-right: 10px;
}
.spam_info h4{
    line-height: 28px;
    font-weight: normal;
}
.blog_post .content-text p{
    font-size: 17px;
    line-height: 28px;
}
.top-nav{
    background-color: #3f3f3f;
    padding: 8px;
}
.top-nav h4{
    color: #fff;
    margin: 0;
    font-weight: normal;
    font-size: 16px;
}
.top-nav h4 i{
    padding-right: 10px;
}
.top_brands .single-collection{
    margin-bottom: 35px;
    background-color: #fff;
    border: 1px solid transparent;
    padding: 20px;
    height: 145px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top_brands .single-collection img{
    max-height: 100px;
    margin: 0 auto;
    width: 100%;
    object-fit: cover;
}
.top_brands .single-collection:hover{
    border: 1px solid #d3d3d3;
}
.top_brands .single-collection:hover a img{
    opacity: 1;
}
.country_block{
    text-align: center;
    clear: both;

}
.country_block p{
    text-align: center;
}
.custom_social{
    float: none !important;
    text-align: center !important;
}
.right-border{
    border-right: 5px solid #054988;
    padding-right: 50px;
}
.main-title{
    text-align: center;
    font-weight: 600;
    margin-bottom: 40px;
}

.feature-border-box {
    border:1px solid #e9e9e9;
    padding: 30px;
    position: relative;
    margin-bottom: 60px;
    border-radius: 4px;
    height: 210px;
}

.feature-border-box,
.feature-border-box:hover .icon {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.feature-border-box .icon {
    position: absolute;
    top: -25px;
    left: 30px;
    width: 50px;
    height: 50px;
    line-height: 53px;
    background: #054988;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    font-size: 26px;
    box-shadow: 0 0 0px 10px #fff;
    font-weight: bold;
}

.featured-item.feature-border-box .icon i {
    color: #fff;
    font-size: 30px;
    line-height: 60px;
}

.feature-border-box .title {
    margin-top: 15px;
    display: inline-block;
}
.featured-item .desc {
    color: #7e7e7e;
    font-size: 16px;
    line-height: 25px;
    margin-top: 10px;
    text-align: justify;
}
.our-work-page{
    padding-top: 50px;
}
.work-slider-box{
    padding: 22px;
    background-color: #f1f1f1;
    box-shadow: 2px 2px 2px #d3d3d3;
    margin-bottom: 35px;
}
.work-slider-box .slider-footer h4{
    font-size: 22px;
    padding-bottom: 10px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.work-slider-box .slider-footer p{
    font-size: 1.6rem;
    line-height: 25px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 48px;
    overflow: hidden;
}
.work-slider-box .product-flexslider{
    margin: 0px !important;
}
.work-slider-box .slider-items-products .item{
    margin: 0px !important;
}
.work-slider-box .slider-items-products .item img{
    width: 512px;
    height: 282px;
    object-fit: cover;
}
.call_for_price{
    font-size: 16px;
    color: #054988;
    margin: 0;
}
.call_for_price_details{
    color: #054988;
    text-align: center;
    margin-bottom: 15px;
    font-size: 17px;
}
.product_questions{
    margin-top: 15px;
}
.product_questions label{
    font-size: 16px;
    padding-bottom: 5px;
    font-weight: normal;
}
.view_options{
    font-size: 14px;
    text-transform: inherit;
}
.view_options a{
    color: #2898ff;
    font-weight: 500;
}
.modal ul li{
    font-size: 15px;
    line-height: 29px;
}
.modal-title{
    font-weight: normal;
}
.old_product_sidebar .old_product_input{
    margin-bottom: 10px;
}
.old_product_sidebar .filter_button{
    margin-top: 15px;
}
.old_product_sidebar .filter_button .but_medium5{
    color: #ffffff;
    border: 2px solid #0fc74b;
    width: 100%;
    font-size: 17px;
    background-color: #0fc74b;
}
.old_product_sidebar .filter_button .but_medium5:hover{
    background-color: #1aab4a;
}
.old_product_sidebar .filter_button .but_medium5 i{
    padding-right: 6px;
}
.old_product_sidebar .old_product_input input{
    background-color: #eeeeee;
    color: #000;
    font-size: 16px;
}
.old_product_sidebar .old_product_filter_box{
    padding: 10px;
    border: 1px solid #eee;
}
.old_product_sidebar .old_product_checkboxes{
    border: 1px solid #eee;
    padding: 10px;
    max-height: 360px;
    overflow-y: auto;
}
.custom_check {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.custom_check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border: 1px solid #000;;
}
.custom_check:hover input ~ .checkmark {
    background-color: #ccc;
}
.custom_check input:checked ~ .checkmark {
    background-color: #054988;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.custom_check input:checked ~ .checkmark:after {
    display: block;
}
.custom_check .checkmark:after {
    left: 6px;
    top: 2px;
    width: 6px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.used_equipments_block{
    margin: 0;
}
.used_equipments_block .post-item .entry-meta-data{
    padding-bottom: 10px;
}
.used_equipments_block .post-item .entry-more{
    margin-top: 25px;
}
.used_equipments_block .post-item .entry-thumb img{
    height: 213px;
    object-fit: cover;
    /*width: 100%;*/
    border: 1px solid #eee;
    margin: 0 auto;
}
.header_login_btns{
    margin-top: 38px;
    padding-left: 0;
    padding-right: 0;
}
.header_login_btns .button{
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 10px;
    font-size: 14px;
    display: inline-block;
    width: 38%;
    border-radius: 10px;
}

.modal-login {
    width: 320px;
    margin: 0 auto;
    margin-top: 5%;
}
.modal-login .modal-content {
    border-radius: 1px;
    border: none;
}
.modal-login .modal-header {
    position: relative;
    justify-content: center;
    background: #f2f2f2;
}
.modal-login .modal-body {
    padding: 25px;
}
.modal-login .modal-footer {
    background: #f2f2f2;
}
.modal-login h4 {
    text-align: center;
    font-size: 26px;
}
.modal-login label {
    font-weight: normal;
    font-size: 16px;
}
.modal-login .form-control, .modal-login .btn {
    min-height: 38px;
    border-radius: 2px; 
}
.modal-login .hint-text {
    text-align: center;
}
.modal-login .close {
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 26px;
    background-color: #f2f2f2;
    z-index: 9999;
    opacity: 1;
    color: #020202;
    padding: 5px 10px;
    border-radius: 100px;
}
.modal-login .checkbox-inline {
    margin-top: 12px;
}
.modal-login input[type="checkbox"]{
    margin-top: 2px;
}
.modal-login .btn {
    min-width: 100px;
    background: #054988;
    border: none;
    line-height: normal;
}
.modal-login .btn:hover, .modal-login .btn:focus {
    background: #000;
}
.modal-login .hint-text a {
    color: #999;
}
.modal-login small{
    text-transform: inherit;
}
.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}
.account_page .page-title{
    padding-top: 20px;
    text-align: center;
    border-bottom: 1px solid #eaeaea;
}
.accounts_tabs{
    margin-top: 35px;
}
.accounts_tabs input.form-control{
    height: 42px;
}
.btn-save-account{
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 15px !important;
}
.dataTables_length select{
    border-radius: 0px;
    width: auto;
    padding: 0;
    border-width: 1px;
}
#user_order_table .btn{
    padding: 3px 8px;
    margin-bottom: 0;
    font-size: 13px;
}
.user_loggedin_title{
    color: #0fc74b;
    font-size: 19px;
}
.user_loggedin_title span{
    color: #737373;
}
.logged_in_checkout p{
    font-size: 17px;
}
.logged_in_checkout{
    position: relative;
}
.logged_in_checkout .but_small5{
    position: absolute;
    right: 12px;
    top: 12px;
    padding: 5px 12px;
    color: #054988;
    border: 2px solid #054988;
}
.logged_in_checkout .but_small5:hover{
    color: #0fb7a4;
    border: 2px solid #0fb7a4;
}
#account_information .location_search{
    left: 0;
    top: 65px;
    right: 0;
}
.field_required{
    color: #f00;
    font-size: 23px;
    display: inline-block;
    vertical-align: middle;
    padding-top: 10px;
    line-height: 10px;
}
.checkout_login_btn .button{
    margin-top: -6px;
    padding: 6px 16px;
    font-size: 14px;
    border-radius: 10px;
}
#shippingDetailsModal .store_info{
    margin: 0;
}
.pdf_view .pdf_overlay{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    text-align: center;
    display: none;
}
.pdf_view:hover .pdf_overlay{
    display: block;
}
.pdf_view .pdf_overlay .pdf_btn{
    margin-top: 25%;
    display: inline-block;
    color: #fff;
    border: 2px solid #fff;
    padding: 5px 15px;
    border-radius: 10px;
}
.attention_ca{
    margin-bottom: 30px;
    display: inline-block;
    border: 1px solid #d3d3d3;
    padding: 5px 10px;
}
.attention_ca span{
    font-size: 15px;
    vertical-align: middle;
}
.attention_ca span a, #cadetails_modal a{
    color: #616dff;
}
.attention_ca span img{
    width: 22px;
    margin-top: -5px;
}
#cadetails_modal h4{
    font-size: 20px;
    font-weight: bold;
}
#cadetails_modal p{
    font-size: 14px;
    line-height: 23px;
}
#cadetails_modal img{
    width: 22px;
    vertical-align: middle;
    margin-top: -4px;
    margin-left: 0px;
    margin-right: 5px;
}
.smallwares_boxes{
    margin-top: 25px;
}
.smallwares_boxes .feature-border-box{
    padding: 20px;
    height: auto;
    margin-bottom: 25px;
    border: 2px solid #e9e9e9;
    border-radius: 15px;
}
.smallwares_boxes .feature-border-box .title{
    margin-top: 0px;
}
#welcomeModal .modal-content{
    background-color: #eaeaea;
    border-radius: 0px;
    border-bottom: 6px solid #fbf761;
}
#welcomeModal .modal-header .close {
    position: absolute;
    right: 15px;
    top: 20px;
    font-size: 30px;
}
#welcomeModal .modal-title {
    font-weight: bold;
    font-size: 20px;
}
#welcomeModal .modal-body {
    padding: 25px;
    background-color: #fff;
}
#welcomeModal .modal-body p{
    font-size: 15px;
}
.text-blue{
    color: #054988;
}
.cart_contains{
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    margin-top: 13px;
}
.cart_info{
    display: inline-block;
    vertical-align: middle;
    float: right;
    background-color: #eee;
    padding: 5px 15px;
    border-radius: 5px;
}
.cart_info span{
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    color: #054988;
}
.cart_info span i{
    font-size: 30px;
    padding-right: 10px;
    color: #3f3f3f;
}
.pagination-area ul{
    display: inline-block !important;
}
.pagination-area ul li a{
    border-radius: 0px;
}
.pagination-area ul li{
    background: transparent;
}
.pagination-area ul li a:hover, .pagination-area ul li a.active{
    border-radius: 0px;
}
.pagination li:first-child > a, .pagination li:first-child > span{
    border-left-color: #ddd;
}
.pagination li:last-child > a{
    border-right-color: #ddd;
}
.top_product_search_dropdown a{
    display: inline-block;
    width: 100%;
}
.sorter .short-by select{
    width: 120px;
}
.sip_button{
    border: 2px solid #054988;
    color: #fff;
    padding: 8px 25px;
    background: #054988;
    border-radius: 50px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 15px;
}
.sip_button:hover{
    background: #000;
    border-color: #000;
}
.additional_comments td a{
    color: #337ab7;
    font-weight: 600;
}
.additional_comments td p{
    margin: 0;
}
.additional_comments ul li{
    list-style-type: disc;
    line-height: 22px;
    font-size: 15px;
}
.additional_comments ol li{
    list-style-type: decimal;
    line-height: 22px;
    font-size: 15px;
}
.sip-bordered-btn{
    display: inline-block;
    border: 0;
    background: #fff;
    padding: 3px 6px;
    font-size: 14px;
    border: 2px solid #054988;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    color: #054987;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}
#auction_video_modal iframe{
    width: 100%;
    height: 350px;
}
.header_contact_btn a{
    border: 2px solid #fff;
    border-radius: 15px;
    color: #fff;
    padding: 2px 9px;
}
.header_contact_btn{
    margin-top: 2px;
}
.header_contact_btn a:hover{
    border: 2px solid #fbf761;
    color: #fbf761;
}
.addon_products li .add_pro_name, .add_pro_price, .addon_product_checkbox{
    display: inline-block;
    vertical-align: middle;
}
.addon_products li .add_pro_price{
    font-weight: bold;
    width: 24%;
    text-align: right;
}
.addon_products li .add_pro_name{
    width: 65%;
}
.addon_products li .addon_product_checkbox{
    margin: 0;
    transform: scale(1.1);
    cursor: pointer;
    margin-right: 5px;
}
.gras-parts-list .product-thumbnail .pr-img-area img{
    height: 160px;
    object-fit: cover;
}
.gras-parts-list .product-item .item-inner .item-info .item-title a{
    font-size: 15px;
}
.gras-parts-list .product-item .item-inner .item-info{
    padding-top: 10px;
    padding-bottom: 10px;
}
.gras-parts-list .product-item .special-price .price{
    font-size: 18px;
}
.gras-parts-list .product-item{
    margin: 0 6px;
}
.gras-parts-list .add-to-cart-mt{
    padding: 10px 0;
    font-size: 15px;
}
.gras-parts-list .entry-meta-data{
    margin-bottom: 8px;
}
.call_for{
    font-size: 15px;
}

.list-group-item{
    position: relative;
    z-index: 0;
}
.list-group-item .enlarge_content{
    position:absolute;
    left: -9999px;
    background-color:#fff;
    padding: 5px;
    font-size:.9em;
    text-align: center;
    color: #495a62;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0, .25));
    -moz-box-shadow: 0 0 20px rgba(0,0,0, .25);
    box-shadow: 0 0 20px rgba(0,0,0, .25);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 0px;
    width: 200px;
}
.list-group-item .enlarge_content a{
    color: #ffffff;
    font-size: 14px;
    line-height: 15px;
    display: block;
    font-weight: 600;
    padding-top: 8px;
    padding-bottom: 8px;
    background: #054988;
}
.list-group-item .enlarge_content a:hover{
    text-decoration: underline;
}
.list-group-item:hover{
    z-index: 50;
    cursor:pointer;
}
.list-group-item .enlarge_content img{
    padding:2px;
    background:transparent;
    margin-bottom: 0px;
    width: 100%;
    border: 1px solid #d3d3d3;
    object-fit: contain;
    height: 160px;
}
.list-group-item:hover .enlarge_content{
    top: -50px;
    left: -200px;
}
.shipping_calculator span{
    display: inline-block;
}
.shipping_calculator .calc_title{
    width: 30%;
}
.shipping_calculator .calc_input{
    text-align: right;
    position: relative;
    width: 67%;
}
.shipping_calculator .calc_input input{
    width: 34%;
    display: inline-block;
    margin-right: 8px;
}
.shipping_calculator .calc_input select{
    width: 35%;
}
.shipping_calculator .calc_input .form-control{
    display: inline-block;
}
.shipping_calculator .calc_input .location_result{
    display: inline-block;
}
.shipping_calculator .calc_input .location_result .location_search{
    top: 36px;
    left: -15px
}
.shipping_calculator .calc_input .location_result .location_search li .list_item{
    width: 100%;
}
.shipping_calculator .calc_input .calculate_shipping_btn:hover{
    background-color: #054988;
    color: #fff;
}
.shipping_calculator .calc_input .calculate_shipping_btn{
    display: inline-block;
    border: 0;
    background: #fff;
    padding: 5px 9px;
    font-size: 14px;
    border: 2px solid #054988;
    font-weight: bold;
    color: #333;
    font-weight: normal;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 8px;
}
.promotional_code_btn{
    padding: 5px 16px !important;
} 
.questions_page{
    margin-top: 50px;
}
.questions_page .radio-inline{
    padding-right: 20px;
    margin: 0;
}
.questions_page input[type="radio"]{
    transform: scale(1.5);
}
.questions_page .form-border{
    border: 1px solid #d3d3d3;
    padding: 15px 25px;
    margin-bottom: 20px;
}
.questions_page .form-border h4{
    margin-bottom: 20px;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 8px;
    font-size: 23px;
}
.questions_page .form-border p{
    font-size: 16px;
}
.input_box_inline{
    margin-bottom: 10px;
}
.input_box_inline .inline-p{
    display: inline-block;
}
.input_box_inline input[type="text"]{
    display: inline-block;
}
.delivery_header h2{
    text-align: center;
    font-weight: bold;
    color: #054988;
}
.delivery_header p{
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 20px;
}
.question_thank{
    text-align: center;
}
.question_thank i{
    font-size: 17.5rem;
    color: #0cb24b;
    opacity: 0.8;
    margin-bottom: 25px;
}
.page-loader .ajax_loader {
    background: #000;
}
.page-loader .ajax_loader .lds-roller div:after {
    background: #fff;
}
.food_truck_modal .modal-header h5{
    margin: 0;
    font-size: 18px;
    text-align: center;
}
.food_truck_modal .modal-header .close{
    padding: 0;
    position: absolute;
    top: -10px;
    right: -10px;
    color: #000;
    z-index: 9999;
    font-size: 25px;
    background-color: #fff;
    opacity: 1;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}
.food_truck_modal .modal-body{
    padding:0;
}
.food_truck_modal .modal-body a{
    position: absolute;
    bottom: 18px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 200px;
    background-color: #fff;
    text-align: center;
    padding: 7px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.d-none {
    display: none !important;
}
