@media (max-width:480px) {
    .header_login_btns{
        margin-top: 0;
        margin-bottom: 15px;
    }
    .header_login_btns .button{
        width: 43%;
    }
    .food_truck_modal{
        padding-right:0 !important;
        top:35px;
    }
    .top-cart-contain{
        right: 25px;
    }
    #registerModal .modal-login{
        width: 370px !important;
    }
    .used_equipments_block .post-item .entry-thumb img{
        height: 90px;
    }
    .used_equipments_block .post-item .price{
        font-size: 17px !important;
    }
    .used_equipments_block .post-item .entry-more{
        margin-top: 0px;
        text-align: right;
    }
    .used_equipments_block .post-item .entry-more a{
        margin-top: 0px;
        font-size: 11px;
        padding: 1px 12px;
    }
    .large-image img{
        height: 310px;
    }
    #product-detail-tab.nav-tabs>li{
        width: 32%;
    }
    #product-detail-tab.nav-tabs>li a{
        padding: 3px 5px;
        margin-right: 0px;
        font-size: 12px;
    }
    .cart_badge{
        background-color: #3f3f3f;
        top: 0px;
        left: -18px;
        right: auto;
    }
    .checkout_login_btn .button{
        margin-bottom: 15px;
    }
    .language-currency-wrapper .block.block-currency{
        width: 92%;
        border: 1px solid #000000;
        margin-right: 15px;
        padding: 8px 15px;
    }
    .language-currency-wrapper .block>div>span{
        font-size: 20px;
    }
    .language-currency-wrapper .block.block-currency>ul{
        min-width: 100%;
    }
    .language-currency-wrapper .block i{
        font-size: 23px;
        padding-left: 8px;
    }
    .language-currency-wrapper .block>ul li a{
        padding: 12px 18px;
        font-size: 20px;
    }
    .language-currency-wrapper .block.block-currency>ul{
        top: 50px;
    }
    .product-thumbnail .pr-img-area img{
        height: 130px;
        object-fit: cover;
    }
    .about-page{
        margin-top: 25px;
    }
    .restarant_images_work img{
        margin-bottom: 20px;
    }
    .work-slider-box .owl-controls .owl-buttons{
        opacity: 1;
    }
    .action_extra_info h3{
        line-height: 20px;
        font-size: 15px;
        text-align: center;
    }
    .action_extra_info a{
        display: block;
        text-align: center;
    }
    .aution_block .large-image img{
        height: 300px;
    }
    .aution_block .product-view-area{
        width: 100%;
        margin: 0px 0px;
    }
    .aution_block .product-name h1{
        font-size: 26px;
        margin-bottom: 15px;
    }
    .product-name h1{
        font-size: 24px;
    }
    .action_extra_info{
        margin-bottom: 0px;
    }
    .accounts_tabs ul.tabs{
        width: 100%;
        margin-right: 0%;
        text-align: center;
    }
    .accounts_tabs ul.tabs li{
        width: 41%;
        display: inline-block;
        margin-right: 10px;
        margin-left: 10px;
    }
    .accounts_tabs .tabs-content{
        width: 100%;
    }
    .accounts_tabs ul.tabs li.active a:after{
        display: none;
    }
    .page-order .heading-counter{
        margin: 10px 0;
    }
    .footer-links{
        margin-top: 20px;
    }
    .mobile_achieve_img{
        width: 100% !important;
    }
    footer .social{
        margin-top: 30px;
    }
    footer .footer-links ul li a{
        font-size: 16px;
    }
    .blog-posts .post-item .entry-thumb{
        text-align: center;
    }
    .blog-posts .post-item .entry-thumb img{
        object-fit: cover;
        height: 92px;
    }
    .blog-posts .post-item .entry-more{
        margin-top: 0px;
    }
    .post-item article .entry-excerpt{
        max-height: 70px;
        height: auto;
    }
    .product-details-area .payment ul li{
        width: 16%;
    }
    .page-order .cart_navigation .checkout-btn{
        float: none;
    }
    .cart_summary, .cart_summary thead, .cart_summary tbody, .cart_summary th, .cart_summary td, .cart_summary tr { 
        display: block; 
    }
    .cart_summary thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .cart_summary td { 
        border: none !important;
        border-bottom: 1px solid #eee !important;
        position: relative;
        padding-left: 42% !important;
        text-align: left !important;
        font-size: 14px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
    .cart_summary img{
        max-width: 50px;
    }
    .cart_summary .cart_description{
        max-width: 100%;
    }
    .cart_summary td:before { 
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
    }

    .cart_summary td:nth-of-type(1):before { content: "Product Image"; }
    .cart_summary td:nth-of-type(2):before { content: "Description"; }
    .cart_summary td:nth-of-type(3):before { content: "Unit Price"; }
    .cart_summary td:nth-of-type(4):before { content: "Qty"; }
    .cart_summary td:nth-of-type(5):before { content: "Shipping"; }
    .cart_summary td:nth-of-type(6):before { content: "Total"; }
    .cart_summary td:nth-of-type(7):before { content: "Action"; }

    .cart_summary tfoot{
        display: block;
        background: transparent;
    }
    .cart_summary tfoot tr:nth-of-type(1) td:nth-of-type(2){
        display: none;
    }
    .cart_summary tfoot tr:nth-of-type(2) td:nth-of-type(1), 
    .cart_summary tfoot tr:nth-of-type(3) td:nth-of-type(1), 
    .cart_summary tfoot tr:nth-of-type(5) td:nth-of-type(1){
        display: none;
    }

    .cart_summary tfoot tr:nth-of-type(1) td:nth-of-type(3):before { content: "Sub total"; }
    .cart_summary tfoot tr:nth-of-type(2) td:nth-of-type(2):before { content: "tax"; }
    .cart_summary tfoot tr:nth-of-type(3) td:nth-of-type(2):before { content: "Discount Amount"; }
    .cart_summary tfoot tr:nth-of-type(4) td:nth-of-type(1):before { content: "Calculate Shipping"; }
    .cart_summary tfoot tr:nth-of-type(1) td:nth-of-type(1):before { content: ""; }
    .cart_summary tfoot tr:nth-of-type(4) td:nth-of-type(2):before { content: "Shipping Amount"; }
    .cart_summary tfoot tr:nth-of-type(5) td:nth-of-type(2):before { content: "Total"; }

    tr>.calculate_discount{
        padding-left: 5px !important;
    }
    .shipping_calculator .calc_input .form-control{
        width: 100%;
        display: block;
        margin-bottom: 5px;
    }
    .shipping_calculator span{
        width: 60%;
    }
    .shipping_calculator .calc_input{
        width: 100%;
    }
    .shipping_calculator .calc_input .calculate_shipping_btn{
        font-size: 10px;
    }
    .shipping_calculator .calc_title{
        display: none;
    }
    .cart_description .product-name{
        display: block;
        font-size: 15px;
    }
    .cart_summary .qty, .cart_summary td.cart_product{
        width: 100%;
    }
    .cart_summary .qty input{
        margin: 0;
    }
    .discount_block{
        margin-top: 15px;
    }
    .discount_block tr td, .discount_block tr th{
        border: 0 !important;
    }
    .col-sm-9 .page-title h2{
        font-size: 23px;
        display: inline-block;
    }
    .cart_navigation{
        text-align: center;
    }
    .about-page h1{
        font-size: 26px;
    }
    .about-page iframe{
        height: 280px;
    }
    .cms_page{
        padding-left: 20px;
        padding-right: 20px;
    }
    .action .delete_cart_item .icon-close:after{
        content: "Delete Item";
        position: absolute;
        top: 8px;
        right: 75px;
        padding-right: 0px;
        white-space: nowrap;
        font-size: 18px;
        font-family: "Karla", sans-serif;
    }
    .sidebar-checkout{
        margin-top: 0px !important;
        margin-left: 0px !important;
    }

    #user_order_table, #user_order_table thead, #user_order_table tbody, #user_order_table th, #user_order_table td, #user_order_table tr { 
        display: block; 
    }
    #user_order_table thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    #user_order_table td { 
        border: none !important;
        border-bottom: 1px solid #eee !important;
        position: relative;
        padding-left: 50% !important;
        text-align: left !important;
        font-size: 14px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
    #user_order_table img{
        max-width: 50px;
    }
    #user_order_table .cart_description{
        max-width: 100%;
    }
    #user_order_table td:before { 
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
    }
    #user_order_table>tbody>tr{
        margin-bottom: 15px;
        background-color: #f1f1f1;
    }
    .restarant_images_work .col-xs-6:first-child img{
        margin-bottom: 0px;
    }
    #user_order_table td:nth-of-type(1):before { content: "No"; }
    #user_order_table td:nth-of-type(2):before { content: "Created Date"; }
    #user_order_table td:nth-of-type(3):before { content: "Total Item"; }
    #user_order_table td:nth-of-type(4):before { content: "Total Amount"; }
    #user_order_table td:nth-of-type(5):before { content: "Action"; }


    .cart_info span:first-child{
        display: none;
    }
    .cart_info{
        padding: 15px 15px;
    }
    .cart_contains{
        font-size: 15px;
        margin: 0;
        padding-bottom: 15px;
    }
    .auction_table_mobile tr td{
        display: block;
        width: 100% !important;
        border: none !important;
        padding: 5px 8px !important;
        white-space: normal !important;
    }
    .auction_table_mobile tr td.compare-label{
        font-size: 18px !important;
        border: none;
    }
    .auction_table_mobile tr td.auction_date{
        font-size: 20px !important;
    }
    .support-client{
        margin-top: 0px;
        margin-bottom: 15px;
    }
    .product_search_result ul{
        left: -3px;
        width: 88%;
    }
    .header_contact_btn{
        margin-bottom: 8px;
    }
    .list-group-item:hover .enlarge_content {
        top: 37px;
        left: 0;
    }

    /* iPhone < 5: */
    @media screen and (device-aspect-ratio: 2/3) {
        select, textarea, input{ font-size: 18px !important; }
    }

    /* iPhone 5, 5C, 5S, iPod Touch 5g */
    @media screen and (device-aspect-ratio: 40/71) {
        select, textarea, input{ font-size: 18px !important; }
    }

    /* iPhone 6, iPhone 6s, iPhone 7 portrait/landscape */
    @media screen and (device-aspect-ratio: 375/667) {
        select, textarea, input{ font-size: 18px !important; }
    }

    /* iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus portrait/landscape */
    @media screen and (device-aspect-ratio: 9/16) {
        select, textarea, input{ font-size: 18px !important; }
    }
    .enterprise_header .header-container .site_logo{
        display: none;
    }
    .enterprise_header .header-container .right_enterprise .mm-toggle-wrap{
        display: none;
    }
    .enterprise_header .header-container .ent_logo img{
        width: auto;
        max-height: 54px;
    }
    .enterprise_header .header-container .right_enterprise .top-cart-contain{
        position: fixed;
        bottom: 0;
        top: auto;
        z-index: 999;
        background: #3f3f3f;
        left: 0;
        right: 0;
        padding: 15px;
        height: 75px;
        text-align: center;
    }
    .enterprise_header .mini-cart .dropdown-toggle{
        position: absolute;
        left: 35px;
        width: 100%;
    }
    .enterprise_header .mini-cart .dropdown-toggle .cart-title{
        display: inline-block;
        color: #fff;
        font-size: 18px;
        padding-left: 10px;
    }
    .enterprise_header .header-container .right_enterprise .language-currency-wrapper .block>div>span{
        font-size: 17px;                                                                             
    }
    .enterprise_header .header-container .right_enterprise .language-currency-wrapper .block i{
        font-size: 15px;
        padding-left: 8px;                                                                     
    }
    .enterprise_header .header-container .right_enterprise .language-currency-wrapper .block.block-currency{
        margin-right: 0;
        width: 100%;
        padding: 0px 8px;                                                                  
        border: 1px solid #eeeeee;
    }
    .enterprise_header .header-container .right_enterprise{
        column-gap: 0;
    }
    .enterprise_header .header-container{
        padding-bottom: 0px;
    }
    .enterprise_portal .short-by{
        display: none;
    }
    .enterprise_portal .toolbar{
        border: none;
        margin-bottom: 0;
    }
    .enterprise_portal .row{
        margin-top: 0px !important;
    }
    .ent_login{
        width: 95%;
    }
    .enterprise_portal .main-slideshow img{
        height: auto;
    }
    .enterprise_portal .product-item .item-inner{
        display: flex;
        margin-bottom: 0px;
    }
    .enterprise_portal .product-thumbnail .pr-img-area img{
        width: 100%;
        height: 100%;
    }
    .enterprise_portal .product-thumbnail .add-to-cart-mt{
        display: none;
    }
    .enterprise_portal .product-grid-area .products-grid .item{
        width: 100%;
        margin-bottom: 0;
    }
    .enterprise_portal .product-item .item-inner .item-info{
        width: 100%;
        text-align: left;
        padding: 12px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .enterprise_portal .product-thumbnail .pr-img-area{
        border-bottom: 0px;
        position: initial;
    }
    .enterprise_portal .product-item .item-inner .item-info .item-title a{
        padding: 0 0px;
        font-size: 16px;
        white-space: initial;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        line-height: 17px;
    }
    .mobile_none{
        display: none;
    }
    .ent_quickinfo .quick_text{
        display: block;
    }
    .ent_quickinfo i{
        display: none;
    }
    .enterprise_portal .product-item .item-inner .item-info .item-title{
        padding: 0 0px;
        margin-bottom: 8px;
    }
    .enterprise_portal .product-item .product-thumbnail figure{
        width: 100px;
        height: 100px;
    }
    .add_quantity{
        position: absolute;
        right: 5px;
        bottom: 5px;
        width: 45%;
    }
    .add_quantity .product-add{
        width: auto;
        margin-left: auto;
        background: #054988;
        color: #fff;
        padding: 4px 8px;
        font-size: 13px;
    }
    .add_quantity .product-action button i{
        width: 22px;
        height: 22px;
        font-size: 10px;
        line-height: 23px;
    }
    .add_quantity .product-action input{
        padding: 1px 0px;
    }
    .add_quantity .product-action button{
        border: none;
        color: #fff;
        border-radius: 3px;
    }
    .enterprise_portal .product-item{
        margin-bottom: 0px;
    }
    .enterprise_portal .full_content{
        padding-bottom: 0px;
    }
    .add_quantity .mini-cart .basket a{
        width: 100%;
        display: block;
        text-align: left;
    }
    .enterprise_header .mini-cart .basket a{
        width: 100%;
        display: block;
        text-align: left;
        padding-top: 0px;
    }
    .popover{
        max-width: 100%;
        left: 12px !important;
        right: 12px !important;
    }
    .ent_quickinfo{
        right: 0px;
        font-size: 11px;
    }
    .ent_terms_box ul{
        margin-top: 10px;
    }
    .ent_terms_box{
        padding: 10px 8px;
    }
    .ent_terms_box label.checkbox-inline{
        font-size: 15px;
    }
}