

@font-face {
	font-family: 'karlaregular';
	src: url('../fonts/karla/Karla-Regular-webfont.eot');
	src: url('../fonts/karla/Karla-Regular-webfontd41d.eot?#iefix') format('embedded-opentype'), url('../fonts/karla/Karla-Regular-webfont.woff') format('woff'), url('../fonts/karla/Karla-Regular-webfont.ttf') format('truetype'), url('../fonts/karla/Karla-Regular-webfont.svg#karlaregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'karlabold';
	src: url('../fonts/karla/Karla-Bold-webfont.eot');
	src: url('../fonts/karla/Karla-Bold-webfontd41d.eot?#iefix') format('embedded-opentype'), url('../fonts/karla/Karla-Bold-webfont.woff') format('woff'), url('../fonts/karla/Karla-Bold-webfont.ttf') format('truetype'), url('../fonts/karla/Karla-Bold-webfont.svg#karlabold') format('svg');
	font-weight: normal;
	font-style: normal;
}
/******************************************
2. compare table
******************************************/

.table-compare td.compare-label {
	width: 180px;
	background: #fafafa;
	vertical-align: middle;
	text-transform: uppercase;
	font-weight: bold;
}
.compare-list {
	margin-bottom: 35px;
}
.table-compare .product-star .fa {
	line-height: inherit;
	color: #ff9900;
}
.table-compare .price {
	font-weight: bold;
}
.table-compare .add-cart {
	background: #ff3366;
	color: #fff;
}
.table-compare .add-cart:hover {
	opacity: 0.8;
}
.table-compare .action button.button {
	border-radius: 100%;
	padding: 0px 12px 0 10px;
	width: 35px;
	height: 35px;
	text-align: center;
	line-height: 12px;
}
/******************************************
3. checkout page
******************************************/

.checkout-page ul {
	padding: 0px;
}
.checkout-page li {
	list-style: none;
}
.checkout-page .checkout-sep {
	padding-bottom: 15px;
	text-transform: uppercase;
}
.checkout-page .box-border {
	margin-bottom: 15px;
}
.checkout-page .box-border .button {
	margin-top: 15px;
}
.checkout-page .box-border label {
	margin-top: 5px;
}
.checkout-page .box-border p, .checkout-page .box-border h4 {
	padding-bottom: 5px;
	margin-top: 5px;
}
.checkout-page .box-border .fa {
	line-height: inherit;
}
.checkout-page .box-border input[type="radio"] {
	margin-right: 10px;
}
/******************************************
4. Contact page
******************************************/


#contact {
	background: #fff; padding-top:8px;
}
#contact .page-subheading {
	padding-left: 0px;
	border: none;
	margin: 14px 0 30px;
	text-transform: uppercase;
	font-size: 18px;
	color: #333;
}
#contact .contact-form-box {
	padding: 0;
	margin: 0 0 30px 0;
}
#contact .contact-form-box label {
	padding-bottom: 5px;
}
#contact .contact-form-box .form-selector {
	padding-bottom: 25px;
}
#contact input, #contact select, #contact textarea {
	border-radius: 0;
	border-color: #eaeaea;
	box-shadow: inherit;
	outline: 0 none;
}
#contact input:focus, #contact select:focus, #contact textarea:focus {
	box-shadow: inherit;
	outline: 0 none;
}
#contact #btn-send-contact {
	font-size: 14px;
	line-height: 18px;
	color: white;
	padding: 0;
	font-weight: normal;
	background: #666;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: none;
	padding: 10px 25px;
}
#contact #btn-send-contact:hover {
	background: #F36;
}
#contact_form_map ul {
	line-height: 28px;
	list-style: disc;
	list-style-position: inside;
	font-style: italic;
}
#contact_form_map ul.store_info {
	list-style: none;
	font-style: normal;
	color: #696969;
}
#contact_form_map ul.store_info i {
	display: inline-block;
	width: 30px;
	line-height: inherit;
	font-size: 18px;
}
#message-box-conact .fa {
	line-height: inherit;
}
.content-text {
	padding: 20px 0;
	text-align: justify;
}
.content-text p {
	margin-bottom: 15px;
}
.right-sidebar #left_column {
	float: right;
}
/******************************************
5. Login page
******************************************/

.box-authentication {
	border: 1px solid #eaeaea;
	padding: 30px;
	min-height: 330px;
	background: #fff;
}
.box-authentication>h3 {
	margin-bottom: 15px;
}
.box-authentication label {
	margin-top: 10px;
	margin-bottom: 2px;
}
.box-authentication .forgot-pass {
	margin-top: 15px;
}
.box-authentication input, .box-authentication textarea {
	border-radius: 0px;
	border: 1px solid #eaeaea;
	-webkit-box-shadow: inherit;
	box-shadow: inherit;
	width: 50%;
}
.box-authentication .button {
	margin-top: 15px;
}
@media only screen and (min-width: 300px) and (max-width: 767px) {
.box-authentication {
	padding: 15px;
	min-height: inherit;
	margin-bottom: 15px;
}
.box-authentication input, .box-authentication textarea {
	width: 90%;
}
}
/******************************************
6. 404 Error Page
******************************************/


.error_pagenotfound {
	padding: 50px 30px 58px 30px;
	margin: 0 auto;
	width: 60%;
	background-color: #fff;
	border: 1px solid #eee;
	border-bottom: 5px solid #eee;
	text-align: center;
	border-radius: 100%;
	margin: 45px auto;
}
.error_pagenotfound strong {
	display: block;
	font-size: 145px;
	line-height: 100px;
	color: #999;
	font-weight: bold;
	margin-bottom: 10px;
	text-shadow: 5px 5px 1px #eaeaea;
}
.error_pagenotfound b {
	display: block;
	font-size: 40px;
	line-height: 50px;
	color: #999;
	margin: 0;
	font-weight: 300;
}
.error_pagenotfound em {
	display: block;
	font-size: 18px;
	color: #0fb7a4;
	margin: 15px 0;
	font-style: normal;
}
a.button-back {
	border: 2px #0fb7a4 solid;
	border-radius: 50px;
	text-transform: uppercase;
	font-size: 14px;
	padding: 8px 25px;
	margin-top: 15px;
	background: #0fb7a4;
	color: #fff;
}
a.button-back:hover {
	border: 2px #0fb7a4 solid;
	background: #0fb7a4;
}
#animate-arrow {
	position: relative;
	top: 15px;
	left: 0px;
	animation: move 1s ease infinite;
	margin-top: 150px;
	color: red;
}
 @keyframes move {
 50% {
 bottom: 10px;
 top: 0px;
}
}
@media only screen and (min-width: 300px) and (max-width: 767px) {
.error_pagenotfound {
	width: 100%;
	border-radius: 0;
	margin: 25px auto;
	padding: 15px;
}
.error_pagenotfound em {
	line-height: none;
	margin-bottom: 10px
}
}
/******************************************
7. about us
******************************************/
.main p{
    font-size: 1.9rem;
    line-height: 28px;
}
.page-contact ul li{
    font-size: 1.9rem;
}
.store_info li{
    margin-bottom: 15px;
}
.about-page p{
    text-align: justify;
}
.about-page h1 {
	font-weight: bold;
}
.about-page {
	margin-top: 80px;
	display: inline-block;
	margin-bottom: 25px;
}
.about-slid {
	background: url(../images/slid3.html)no-repeat 0px 0px fixed;
	background-size: cover;
	text-align: center;
	padding: 80px 0 100px;
}
.about-slid h2 {
	font-size: 42px;
	color: #fff;
	font-weight: bold;
}
.about-slid p {
	color: #fff;
	font-size: 16px;
	margin: 8px auto 0;
	line-height: 22px;
	width: 78%;
}
.about-slid-info {
	width: 80%;
	margin: 0 auto;
}
.about-page ul {
	padding: 0;
}
.about-page ul li {
	display: block;
	margin: 1.2em 0 0;
}
.about-page ul li a {
	color: #333;
	font-size: 15px;
}
.about-page ul li a:hover {
	color: #0fb7a4;
	padding-left: 10px;
}
.about-page .fa-arrow-right {
	font-size: 12px;
}
.about-page .text_color {
	color: #0fb7a4;
}
@media only screen and (min-width: 300px) and (max-width: 767px) {
.about-slid-info {
	width: 100%;
}
.about-slid h2 {
	font-size: 30px;
}
.align-center-btn a.button {
	display: inline-block;
	margin-bottom: 10px;
}
}
.our-team {
	background: #fff;
	border-bottom: 1px #ddd solid;
	padding-bottom: 60px;
	display: inline-block;
	width: 100%;
}
.our-team .page-header h2 {
	color: #333;
}
.our-team .team {
	background: #f8f8f8;
	border: 1px #eee solid;
	padding: 15px;
	margin-top: 20px;
	text-align: center;
}
.team h5 {
	margin-bottom: 10px;
	font-size: 16px;
	margin-bottom: 6px;
	text-transform: uppercase;
	font-weight: bold;
}
.team p.subtitle {
	margin-bottom: 10px;
}
.avatar {
	margin-bottom: 20px;
}
.team-social {
	margin-left: 0;
	padding-left: 0;
}
.align-center-btn a.button {
	border: 2px #0fb7a4 solid;
	padding: 8px 25px;
	border-radius: 50px;
	font-weight: bold;
	font-size: 15px;
	margin-right: 15px;
	background: #0fb7a4;
	color: #fff;
}
.align-center-btn a.button.buy-temp {
	background: #0fb7a4;
	color: #fff;
	border: 2px #0fb7a4 solid;
}
.align-center-btn {
	margin-top: 25px;
}
#service {
	padding-bottom: 60px;
}
#service .page-header h2 {
	color: #333;
}
#service i {
	font-size: 50px;
	margin-bottom: 20px;
	margin-top: 20px;
}
#service h4 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 8px;
}
.sitemap-page {
	margin-top: 25px;
	margin-bottom: 50px;
}
.simple-list {
	margin: 0;
	padding: 0;
	list-style-type: none
}
.bold-list>li>a {
	font-weight: 700;
	text-transform: uppercase
}
.simple-list ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: relative;
	bottom: -.8em
}
.simple-list li {
	margin: 0;
	padding: 0 0 12px
}
/******************************************
8. FAQ Page
******************************************/

.faq-page {
	margin-bottom: 30px;
}
.faq-page .page-title {
	margin: 20px auto;
}
.faq-page .content-box {
	padding: 32px 28px;
	margin: 0 0 20px 0;
	text-align: center;
	cursor: pointer;
}
.faq-page .content-box, .faq-page .content-box i, .faq-page .content-box p, .faq-page .content-box h3 {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.faq-page .content-box p {
	margin: 15px 0;
	color: #fff;
}
.faq-page .content-box h3 {
	line-height: 26px;
	padding-bottom: 8px;
	color: #fff;
	font-weight: 600;
}
.faq-page .content-box i {
	font-size: 80px;
	height: 80px;
	color: #fff;
	margin: 10px 0;
	display: block;
}
.faq-page .content-box.color-effect-1 {
	background: #000;
}
.faq-page .box-icon-wrap {
	text-align: center;
	margin: 0 auto;
	padding: 0px 0 20px 0;
	max-height: 120px;
}
.faq-page .box-icon i {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	margin: 15px 0;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #fff;
}
.faq-page .box-icon i:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.faq-page .box-icon i:before {
	speak: none;
	font-size: 40px;
	line-height: 90px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}
.faq-page .box-icon-effect-1 .box-icon i {
	background: #0fb7a4;
	color: #fff;
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}
.faq-page .box-icon-effect-1 .box-icon i:after {
	top: -7px;
	left: -7px;
	padding: 7px;
	box-shadow: 0 0 0 4px #fff;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(.8);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transition: transform 0.2s, opacity 0.2s;
	transform: scale(.8);
	opacity: 0;
}
.faq-page .content-box:hover .box-icon-effect-1a .box-icon i {
	background: rgba(255,255,255,1);
	color: #3acf87;
}
.faq-page .content-box:hover .box-icon-effect-1a .box-icon i:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
.accordion-faq {
	text-align: left;
	position: relative
}
.accordion-faq .panel {
	border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none
}
.accordion-faq .panel .panel-heading {
	padding: 0;
	color: #fff;
	border-radius: 0!important;
	background: #333
}
.accordion-faq .panel-heading a {
	display: block;
	position: relative;
	background: #0fb7a4;
	color: #fff;
	padding: 14px 50px 12px 15px;
	border-radius: 0;
	border: 1px #eee solid;
	min-height: 50px;
	font-weight: bold;
}
.accordion-faq .panel-heading a.collapsed {
	display: block;
	position: relative;
	background: #fff;
	color: #333;
	padding: 14px 50px 12px 15px;
	border-radius: 0;
	border: 1px #eee solid;
	min-height: 50px;
	font-weight: bold;
}
.accordion-faq .panel-heading a:hover {
	text-decoration: none
}
.accordion-faq .panel:last-child {
	box-shadow: none;
	border-bottom: none
}
.accordion-faq .arrow-down, .accordion-faq .arrow-up {
	position: absolute;
	display: block;
	width: 20px;
	height: 20px;
	font-size: 20px;
	top: 54%;
	margin-top: -15px;
	right: 10px;
	color: #fff;
}
.accordion-faq .arrow-down, .accordion-faq .collapsed .arrow-up {
	display: none
}
.accordion-faq .collapsed .arrow-down {
	display: block;
	color: #333;
}
.accordion-faq .panel-body {
	border-top: 0!important;
	padding: 15px;
	background: #fff;
	border: 1px #eee solid;
	border-top: none;
}
.accordion-faq.panel-group .panel+.panel {
	margin-top: 10px
}
/******************************************
9. Coming Soon
******************************************/
.coming-soon-wrapper .logo {
	text-align: center;
}
.coming-soon-wrapper {
	/*background: #eee url(../images/coming_soon_bg.jpg) no-repeat center center fixed;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 35px;
	margin: 0 auto;
	display: block;
	position: relative;
	text-align: center;
	padding-bottom: 80px;
}
.coming-soon-wrapper p {
	color: #fff;
	font-size: 30px;
	padding: 40px 0;
	font-weight: bold;
	line-height: 42px;
}
.coming-soon-wrapper .stat-count {
	color: #fff;
	margin: 0 !important;
	font-size: 80px;
	padding: 15px !important;
	font-weight: 400;
}
.count-details {
	font-size: 24px;
	margin: 0 !important;
	font-style: italic;
	padding: 0 !important;
	font-weight: 300 !important;
	color: #fff;
}
.time_circles {
	position: relative;
	width: 100%;
	height: 100%;
	margin-bottom: 25px;
}
.time_circles > div {
	position: absolute;
	text-align: center;
}
.time_circles > div > h4 {
	margin: 0px;
	padding: 0px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}
.time_circles > div > span {
	display: block;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 300%;
	margin-top: 0.4em;
	font-weight: bold;
}
#DateCountdown {
	width: auto;
	float: none;
	display: block;
	margin: 0 auto !important;
	text-align: center;
}
.color-purple {
	background: #564bb5;
}
.color-blue {
	background: #03acdc;
}
.color-gray {
	background: #f5f5f5;
}
.color-green {
	background: #18e2ba;
}
.color-yellow {
	background: #ffcc0e;
}
.color-red {
	background: #e85d5d;
}
.color-tael {
	background: #52c854;
}
.coming-soon-wrapper .form-control {
	display: inline;
	position: relative;
	background: #fff;
	border-radius: 0;
	border: 0;
	padding: 0 20px;
	margin-right: 0px;
	height: 50px;
	width: 500px;
	border-radius: 50px 0 0 50px;
	float: left;
}
button.button.sign-in {
	border-radius: 0 50px 50px 0;
	font-size: 16px;
	float: left;
	background: #0fb7a4;
	border: 2px solid #0fb7a4;
	color: #fff;
	padding: 13px 25px 13px 20px;
}
 @media only screen and (min-width: 300px) and (max-width: 767px) {
.coming-soon-wrapper .form-control {
	width: 100%;
	border-radius: 50px;
	margin-bottom: 12px;
}
button.button.sign-in {
	border-radius: 50px;
}
}

.contact-form-box .form-selector{
    margin-bottom: 25px;
}