.product-add {
    width: 100%;
    font-size: 15px;
    padding: 6px 0px;
    border-radius: 6px;
    text-align: center;
    text-transform: capitalize;
    color: var(--heading);
    background: var(--border);
    text-shadow: var(-primary-tshadow);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}

.product-add i {
    font-size: 14px;
    margin-right: 5px
}

.product-action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: none
}

.product-action button i {
    width: 35px;
    height: 35px;
    font-size: 14px;
    line-height: 35px;
    border-radius: 6px;
    text-align: center;
    display: inline-block;
    color: var(--text);
    background: var(--chalk);
    text-shadow: var(--primary-tshadow);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}

.product-action button i:hover {
    color: var(--white);
    background: var(--primary)
}

.product-action input {
    width: 100%;
    font-size: 15px;
    margin: 0px 5px;
    padding: 6px 0px;
    border-radius: 6px;
    text-align: center;
    color: var(--white);
    background: var(--primary);
    text-shadow: var(--primary-tshadow)
}
.enterprise_header .header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.enterprise_header .header-container .right_enterprise{
    display: flex;
    width: 100%;
    justify-content: end;
    column-gap: 12px;
}
.enterprise_header .header-container .ent_logo{
    display: flex;
    width: 100%;
}
.enterprise_header .header-container .ent_logo img{
    max-height: 120px;
    object-fit: contain;
}
.enterprise_header .header-container .ent_logo label{
    font-size: 18px;
    cursor: pointer;
}
.enterprise_header .header-container .logo{
    display: flex;
    width: 100%;
}
.enterprise_header .header-container .default_logo{
    height: 83px;
    margin-bottom: 10px;
}
.enterprise_header .header-container .site_logo img{
    height: 52px;
    width: auto;
    max-width: initial;
}
.enterprise_header .header-container .site_logo label{
    font-size: 17px;
}
.enterprise_header .header-container .right_enterprise .header_login_btns{
    margin-top: 10px;
}
.enterprise_header .header-container .right_enterprise .top-cart-contain{
    margin-top: 0px;
}
.page-order .cart_navigation a.continue-btn{
    background-color: #337ab7;
    border-color: transparent;
}
.ent_login{
    background: #fff;
    display: block;
    width: 400px;
    padding: 28px;
}
.add_quantity .product-action button{
    background-color: #054988;
    border: none;
    color: #fff;
    border-radius: 3px;
}
.add_quantity{
    margin-top: 2px;
    margin-bottom: 2px;
}
.ent_quickinfo{
    background: #3f3f3f;
    color: #fff;
    position: absolute;
    right: auto;
    left: 0;
    top: 0;
    padding: 2px 8px;
    font-size: 13px;
}
.popover{
    max-width: 520px;
}
.popover .popover-title h4{
    margin-bottom: 0px;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.popover-content{
    max-height: 250px;
    overflow-y: auto;
}
.popover .popover-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.enterprise_portal .product-item .item-inner{
    display: flex;
    margin-bottom: 0px;
}
.enterprise_portal .product-thumbnail .pr-img-area img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.enterprise_portal .product-thumbnail .add-to-cart-mt{
    display: none;
}
.enterprise_portal .product-item .item-inner .item-info{
    width: 100%;
    text-align: left;
    padding: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.enterprise_portal .product-thumbnail .pr-img-area{
    border-bottom: 0px;
    position: initial;
}
.enterprise_portal .product-item .item-inner .item-info .item-title a{
    padding: 0 0px;
    font-size: 16px;
    white-space: initial;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 17px;
}
.enterprise_portal .product-item .item-inner .item-info .item-title{
    padding: 0 0px;
    margin-bottom: 8px;
}
.enterprise_portal .product-item .product-thumbnail figure{
    width: 100px;
    height: 100px;
    position: relative;
}
.enterprise_portal .product-item .item-inner .item-info .special-price .price{
    font-size: 17px;
}
.enterprise_portal .product-item .item-inner .item-info .special-price .best_price{
    font-size: 14px;
}
.add_quantity{
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 33%;
}
.add_quantity .product-add{
    width: auto;
    margin-left: auto;
    background: #054988;
    color: #fff;
    padding: 4px 8px;
    font-size: 13px;
}
.add_quantity .product-action button i{
    width: 22px;
    height: 22px;
    font-size: 10px;
    line-height: 23px;
}
.add_quantity .product-action input{
    padding: 1px 0px;
    border: 1px solid #000;
}
.add_quantity .product-action button{
    border: none;
    color: #fff;
    border-radius: 3px;
}
.enterprise_portal .product-item{
    margin-bottom: 24px;
}
.ent_quickinfo .quick_text{
    display: none;
}
.enterprise_login{
    background-image: url('../../front-side/images/homepage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 75px 0px;
}
.enterprise_login .slider_text_block{
    position: initial;
}
.enterprise_login .slider_text_block .ent_login{
    z-index: 99;
    position: relative;
}
.ent_terms_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 20px;
}
.cart_block .cart_contains{
    margin-top: 0px;
}
.cart_block .cart_info{
    float: none;
}
.ent_terms_box ul{
    margin: 0;
    padding: 0;
}
.ent_terms_box li {
    list-style-type: none;
}
.ent_terms_box .delivery_info_ent .checkbox-inline{
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
}
.delivery_info_ent .cart_info span i{
    font-size: 21px;
}