.error{
    color: red !important;
    font-weight: 700 !important;
}
.photoUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    cursor: pointer;
    opacity: 0;
}
.music-radio{
    margin-right: 10px;
}
.entry-radio{
    margin-right: 10px;
}
.carousel.slick-slider .slick-slide img {
    max-height: 200px;
}

.carousel.slick-initialized.slick-slider.slick-dotted {
    max-width: 1020px;
}

.header-carousel.slick-initialized.slick-slider.slick-dotted {
    max-width: 1050px;
}

.order-carousel {
    width: 990px;
}

.order-carousel .slick-track{
    width: 100% !important;
}

.carousel.slick-slider .slick-slide img.images {
    max-height: 500px;
}

img#images {
    max-height: 450px;
}

.header-carousel.slick-slider.slick-dotted.slick-slider {
    margin-bottom: 25px;
}
.slick-dots {
    display: none !important;
}
.main-tab{
    margin-top: 10px;
}
.item-image{
    width: 100%;
}
.wallet-view {
    float: right !important;
    text-align: right !important;
}
.amount_box {
    margin-top: -4.71429em;
    margin-bottom: 0;
    line-height: 2;
    background: #f33;
    border-radius: 100px;
    z-index: 9;
    padding: 2px 15px;
    color: #fff;
}
.widget-user-profile .profile-user-name {
    margin-top: 2rem;
}
#images {
    display: inline-block;
    right: 0;
    font-size: 22px;
    background: transparent;
    border: 0;
    top: 0px;
    vertical-align: top;
    text-align: left;
    margin-left: -40px;
    margin-top: -15px;
    outline: none;
}
.fileinput-cancel-button{
    display: none;
}
.fileinput-upload-button, .kv-file-upload{
    display: none;
}
.file-thumb-progress {
    display: none;
}
.login-body{
    background-color: #eaeaea;
}
.login_logo{
    margin-top: 5%;
}
.login_logo img{
    width: auto;
}
.login_logo h3{
    margin: 0;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.login-center label{
    color: #fff;
}
.login-center a, .login-center p{
    color: #fff !important;
}
.login-center{
    background: linear-gradient(180deg, rgba(5,73,136,1) 0%, rgba(5,73,136,1) 35%, rgba(173,151,189,1) 100%);
    border: 6px solid #ddd;;
}
.site-sidebar{
    background: linear-gradient(176deg, rgba(5,73,136,1) 0%, rgba(5,73,136,1) 35%, rgba(173,151,189,1) 100%) !important;
}
.navbar-brand-dark .navbar-brand{
    background: #054988;
}
.sidebar-dark .side-menu li a{
    color: #fff;
}
.menu_plus, .menu_minus{
    color: #fff;
    font-size: 20px;
    position: absolute;
    right: 13px;
}
.site-sidebar ul li a .menu_minus{
    display: none;
}
.site-sidebar ul li.active a .menu_minus{
    display: block;
}
.site-sidebar ul li.active a .menu_plus{
    display: none;
}
.sidebar-dark .side-menu li ul li a{
    color: #fff;
}
.sidebar-dark .side-menu li ul li a:hover{
    background-color: transparent;
}
.btn-primary {
    color: #fff;
    background-color: #07b107 !important;
    border-color: #07b107 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.singleitem{
    border: 1px solid;
    padding: 25px;
    position: relative;
    margin: 10px;
}
.singleitem:hover{
    border: 1px solid; 
    border-color: #FF6C60;
}
.main-wrapper{
    padding: 10px 30px 7.5rem;
}
.sales_pagination ul{
    padding: 15px;
    float: right;
}
.sales_pagination ul li.active .page-link{
    z-index: 1;
    color: #fff;
    background-color: #1976d2;
    border-color: #1976d2;
}
.notes {
    width: 100%;
    overflow-y: auto;
    max-height: 300px;
    height: 300px;
    padding: 15px;
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 10px;
}
.note-container {
    border: 1px solid #ded783;
    background-color: #fffca3;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}
.note-container p{
    color: #000;
}
.note-container::after {
    content: "";
    clear: both;
    display: table;
}
.delete-note{
    cursor: pointer;
    font-size: 19px;
}
.business_search {
    z-index: 3;
    overflow-y: auto;
    max-height: 220px;
    text-align: left;
    padding: 10px 15px;
    list-style: none;
    position: absolute;
    left: 25%;
    right: 0px;
    top: 45px;
    background-color: #fff;
    border: 3px solid #d3d3d3;
}
.business_search li:first-child {
    padding-top: 0;
}
.business_search li .list_item {
    color: #07b107;
    font-weight: 600;
    font-size: 17px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.form-control:disabled, .form-control[readonly] {
    color: #74708d;
    background: #ddd;
}
.business_search li {
    display: block;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
    cursor: pointer;
}
.sidebar-dark .site-sidebar{
    overflow-y: auto;
}

.site-sidebar::-webkit-scrollbar {
    width: 6px;
}

.site-sidebar::-webkit-scrollbar-track {
    background: #0d193f;
    border-radius: 50px;
}

.site-sidebar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.8);

}
.chatbox-chat-area {
    max-height: 420px;
    overflow: scroll;
}
.blocked_dropdown{
    padding: 0;
}
.blocked_dropdown li{
    border-bottom: 1px solid #d3d3d3;
    padding: 10px;
    cursor: pointer;
}
.blocked_dropdown li:last-child{
    border-bottom: 0;
}
.blocked_dropdown li:hover{
    background-color: #f5f7fa;
}
.blocked_dropdown li p{
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    display: inline-block;
}
.blocked_dropdown li p span{
    font-weight: normal;
    font-size: 14px;
}
.blocked_dropdown li h5{
    margin: 0;
    float: right;
}
.blocked_dropdown li h5 small{
    color: #07b107;
    font-weight: bold;
}
.sidebar-dark .side-menu li ul{
    padding: 0;
    margin: 8px;
}
.side-menu ul li::before{
    opacity: 0;
}
.sidebar-dark .side-menu li ul li a{
    font-size: 14px;
    font-weight: normal;
    padding-left: 10px;
}
.hide{
    display: none !important;
}
.toggle input[type=checkbox] {
    display: none;
}
.bypass_title h5{
    margin-left: 15px;
    font-size: 17px;
    margin-top: 3px;
    margin-bottom: 3px;
}
.bypass_title p{
    margin-left: 15px;
    font-size: 13px;
}

/* Toggle button */

.toggle{position:relative;overflow:hidden}
.toggle input[type=checkbox]{display:none}
.toggle-group{position:absolute;width:200%;top:0;bottom:0;left:0;transition:left .35s;-webkit-transition:left .35s;-moz-user-select:none;-webkit-user-select:none}
.toggle.off .toggle-group{left:-100%}
.toggle-on{position:absolute;top:0;bottom:0;left:0;right:54%;margin:0;border:0;border-radius:0}
.toggle-off{position:absolute;top:0;bottom:0;left:50%;right:0;margin:0;border:0;border-radius:0}
.toggle-handle{position:relative;margin:0 auto;padding-top:0;padding-bottom:0;height:100%;width:0;border-width:0 1px}
.toggle.btn{    height: 45px !important;
                width: 100% !IMPORTANT;}
.toggle-on.btn{padding-right:24px;width: auto;padding: 6px 12px;}
.toggle-on.btn:hover{width: auto;padding: 6px 12px;}
.toggle-off.btn{padding-left:24px}
.toggle.btn-lg{min-width:79px;min-height:45px}
.toggle-on.btn-lg{padding-right:31px}
.toggle-off.btn-lg{padding-left:31px}
.toggle-handle.btn-lg{width:40px}
.toggle.btn-sm{min-width:50px;min-height:30px}
.toggle-on.btn-sm{padding-right:20px}
.toggle-off.btn-sm{padding-left:20px}
.toggle.btn-xs{min-width:35px;min-height:22px}
.toggle-on.btn-xs{padding-right:12px}
.toggle-off.btn-xs{padding-left:12px}
.ajax_location_view .business_search{
    width: 100%;
    left:0%;
}
.ajax_business_view .business_search{
    width: 100%;
    left:0%;
}
.another_p_label{
    background-color: #ff9425;
    padding: 10px;
    color: #fff;
}
.state_wise_widget{
    margin-top: 0px;
    max-height: 500px;
    overflow-y: auto;
}
.order_widget{
    max-height: 500px;
    overflow-y: auto;
    min-height: 500px;
}
.order_widget table tbody tr .order_name span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
    display: block;
    max-width: 250px !important;
}
.state_wise_widget .widget-invoice-table td{
    height: 2.5rem;
}
.category_gids{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}
.category_gids .icon-box header img{
    width: 85px;
    height: 85px;
    object-fit: contain;
}
.category_gids .icon-box{
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 10px;
    margin-left: 10px;
    text-align:center;
}
.category_gids .icon-box-side .icon-box-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
    display: block;
    width: 100%;
}
.category_gids .icon-box-side section{
    overflow: hidden;
}
.category_gids .icon-box .btn{
    display: inline-block;
    margin-top: 26px;
    margin-right: 8px;
}
.category_gids .icon-box header{
    margin-left: 0;
}
.ecommerce-products li .card .card-body h5{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
    display: block;
    width: 100%;
}
.ecommerce-products .card{
    border: 1px solid #ddd !important;
    margin-left: 5px;
    margin-right: 5px;
}
.ecommerce-products .card:hover{
    transform: scale(1.0);
    box-shadow: none;
}
.ecommerce-products .card .card-footer div{
    padding: 10px !important;
}
.ecommerce-products .card .card-footer div a i{
    padding-right: 5px;
}
.blog-post-new{
    margin-left: 15px;
    margin-right: 15px;
}
.blog-post-new .card-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
    display: block;
    width: 100%;
}
.blog-post-new .card-body{
    padding: 1.25rem;
}
.blog-post-new .card-action a i{
    padding-right: 5px;
}
/*.page-title{
    text-align: center;
}*/
.page-title .page-title-heading{
    font-size: 23px;
}
.blog-image {
    display: inline-block;
    right: 0;
    font-size: 22px;
    background: transparent;
    border: 0;
    top: 0px;
    vertical-align: top;
    text-align: left;
    margin-left: -40px;
    margin-top: -15px;
    outline: none
}
.icon-delete{
    color: red;
}
.blog_thumb{
    height: 215px;
    object-fit: cover;
}
.pro_thumb{
    height: 180px;
}
.news_block .card-header{
    background-color: #fff;
}
.news_block .card-body{
    height: 100px;
}
.news_block .card-header::before{
    opacity: 0;
}
.category-block select.form-control {
    width: auto;
}
.page-title-left .btn {
    margin-top: 10px;
}
.product_list .ecommerce-products .card .card-body, .product_list .ecommerce-products .card .card-footer {
    background-color: #f5f7fa;
    background: #f5f7fa;
}
.auction_block .card, .blog_post_block .card, .news_block .card{
    background-color: #f5f7fa;
}
.top_search{
    margin-top: 12px;
}
.product_search_block select{
    margin-top: 12px;
}
.product_add_page .nav-tabs{
    display: table;
    width: 100%;
}
.product_add_page .tab-content{
    border: 1px solid #ddd;
    border-top: 0;
}
.product_add_page .nav-tabs .nav-item{
    display: table-cell;
    text-align: center;
    /*width: 30%;*/
    font-size: 18px;
}
.product_add_page .nav-tabs .nav-item .nav-link.active{
    background-color: #fff;
}
.pro_deactivate_badge{
    position: absolute;
    padding: 0.57143em 1.14286em;
    top: 6.42857em;
    left: 1.92857em;
    text-transform: none;
    display: none;
}
.pro_deactivated .pro_deactivate_badge{
    display: block;
}
.product-block ul .pro_deactivated .card-header:before{
    content: "";
    position: absolute;
    background-color: #000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
}
.d-block{
    display: block;
}
.order_dash_filter select{
    height: auto !important;
    padding: 8px 5px;
    position: absolute;
    right: 0;
    width: 160px;
    top: 0;
}
.no_order_found_dash{
    text-align: center;
    position: absolute;
    display: block; 
    width: 100%;
    top: 40%;
    right: 0;
    left: 0;
}
.no_order_found_dash i{
    font-size: 93px;
    opacity: 0.4;
}
.category_select_ajax select{
    width: 190px !important;
}
.category_select_ajax{
    display: inline-block;
}
.kv-file-zoom, .file-upload-indicator{
    display: none;
}
.ecommerce-products .card .card-header{
    text-align: center;
    background-color: #fff;
}
.questions_accordian_btns{
    position: absolute;
    top: 12px;
    right: 9%;
}
.sidebar-nav{
    padding: 0;
}
.side-menu > li > a:hover, .side-menu > li > a:focus, .side-menu > li.active > a,
.sidebar-dark .side-menu li:hover, .sidebar-dark .side-menu li.active{
    border-radius: 0;
}

/******************************************
24. breadcrumbs
******************************************/

.breadcrumbs {
    padding: 6px 0px;
    margin: auto;
    font-size: 12px;
    background-color: transparent;
    border-bottom: 1px solid #eaeaea;
    text-transform: none
}
.breadcrumbs a {
    color: #444
}
.breadcrumbs span {
    display: inline-block;
    margin: 0 5px 0 5px;
    color: #666;
    font-size: 15px
}
.breadcrumbs ul {
    margin: 0px;
    padding: 0px
}
.breadcrumbs ul li {
    list-style-type: none;
    display: inline;
    font-size: 16px;    
}
.brands_boxes{
    padding-bottom: 20px;
    border: 1px solid #b1b1b1;
    margin-bottom: 8px;
    cursor: pointer;
}
.brands_boxes figure{
    height: 80px;
}
.brands_boxes figure img{
    width: 121px;
    max-height: 100%;
    object-fit: cover;
}
.brands_boxes h5{
    margin: 0;
    font-size: 17px;
    padding-top: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cke_dialog iframe.cke_pasteframe{
    width: 100% !important;
    min-height: 100% !important;
}

/* loader start*/
.ajax_loader {
    position: fixed;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.6;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    z-index: 9;
}
.ajax_loader img {
    width: 200px;
    height: 100px;
}
.ajax_loader.absolute {
    position: absolute;
}
.category_block {
    position: relative;
    min-height: 300px;
    margin-top: 45px;
}
.lds-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #000;
    margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* loader end*/
.remove_specification_pdf{
    padding: 5px 10px;
    font-size: 12px;
    margin-left: 15px;
    margin-top: -40px;
}
.remove_specification_pdf i{
    padding-right: 5px;
    font-size: 17px;
}
.checkbox, .checkbox label, .checkbox span.label-text{
    font-size: 13px;
}
.ecommerce-invoice, .ecommerce-invoice small, .ecommerce-invoice .text-muted{
    color: #000 !important;
}
.front_hidden_page .hidden_click{
    height: 170px;
    width: 170px;
    cursor: inherit;
    display: block;
    float: right;
}

.toggle_switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle_switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle_switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle_switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle_switch input:checked + .slider {
  background-color: #2196F3;
}

.toggle_switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.toggle_switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

 /*Rounded sliders*/ 
.toggle_switch .slider.round {
  border-radius: 34px;
}

.toggle_switch .slider.round:before {
  border-radius: 50%;
}
.multiselect-native-select .btn-group{
    display: block;
    width: 100%;
}
.multiselect-native-select .btn-group .btn{
    padding: 0.5rem 0.9375rem 0.5625rem;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border-radius: 0.25rem;
    background-color: #fff;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 240px;
    text-align: left;
    border: 1px solid #5a5a5a;
    font-size: 12px;
}
.multiselect-native-select .btn-default.dropdown-toggle, .multiselect-native-select .show > .btn-default.dropdown-toggle:hover, .multiselect-native-select .show > .btn-default.dropdown-toggle:focus{
    background-color: transparent;
    color: #000;
}
.multiselect-container{
    max-height: 270px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 350px;
    padding: 10px;
    padding-right: 15px;
}
.multiselect-container .multiselect-search{
    font-size: 13px;
}
.multiselect-container .multiselect-search::-webkit-input-placeholder{
    font-size: 13px;
}
.multiselect-container .multiselect-search::placeholder{
    font-size: 13px;
}
.multiselect-container::-webkit-scrollbar {
    width: 6px;
}

/* Track */
.multiselect-container::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
.multiselect-container::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
.multiselect-container::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.multiselect-container>li>a>label{
    padding: 3px 8px 3px 8px;
    color: #000;
}
.multiselect-container>li>a {
    padding: 0;
    color: #000 !important;
    font-size: 15px;
    background: transparent !important;
}
.multiselect-container .input-group .input-group-addon{
    display: none;
}
.multiselect-container>li>a>label>input[type=checkbox]{
    margin-bottom: 0px;
    opacity: 1;
    position: initial;
    transform: scale(1.1);
    vertical-align: text-bottom;
    margin-right: 3px;
}
.cart_summary img {
    max-width: 100px
}

.d-none {
    display: none !important;
}

/* .cart_summary td.cart_product {
    width: 140px;
    padding: 15px;
    text-align: center;
} */