@font-face {
  font-family: 'feather';
  src:  url('../fonts/featherbf45.eot?cuxgzj');
  src:  url('../fonts/featherbf45.eot?cuxgzj#iefix') format('embedded-opentype'),
    url('../fonts/featherbf45.ttf?cuxgzj') format('truetype'),
    url('../fonts/featherbf45.woff?cuxgzj') format('woff'),
    url('../fonts/featherbf45.svg?cuxgzj#feather') format('svg');
  font-weight: normal;
  font-style: normal;
}

.feather {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'feather' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.feather-activity:before {
  content: "\e900";
}
.feather-airplay:before {
  content: "\e901";
}
.feather-alert-circle:before {
  content: "\e902";
}
.feather-alert-octagon:before {
  content: "\e903";
}
.feather-alert-triangle:before {
  content: "\e904";
}
.feather-align-center:before {
  content: "\e905";
}
.feather-align-justify:before {
  content: "\e906";
}
.feather-align-left:before {
  content: "\e907";
}
.feather-align-right:before {
  content: "\e908";
}
.feather-anchor:before {
  content: "\e909";
}
.feather-aperture:before {
  content: "\e90a";
}
.feather-arrow-down:before {
  content: "\e90b";
}
.feather-arrow-down-left:before {
  content: "\e90c";
}
.feather-arrow-down-right:before {
  content: "\e90d";
}
.feather-arrow-left:before {
  content: "\e90e";
}
.feather-arrow-right:before {
  content: "\e90f";
}
.feather-arrow-up:before {
  content: "\e910";
}
.feather-arrow-up-left:before {
  content: "\e911";
}
.feather-arrow-up-right:before {
  content: "\e912";
}
.feather-at-sign:before {
  content: "\e913";
}
.feather-award:before {
  content: "\e914";
}
.feather-bar-chart:before {
  content: "\e915";
}
.feather-bar-chart-2:before {
  content: "\e916";
}
.feather-battery:before {
  content: "\e917";
}
.feather-battery-charging:before {
  content: "\e918";
}
.feather-bell:before {
  content: "\e919";
}
.feather-bell-off:before {
  content: "\e91a";
}
.feather-bluetooth:before {
  content: "\e91b";
}
.feather-bold:before {
  content: "\e91c";
}
.feather-book:before {
  content: "\e91d";
}
.feather-bookmark:before {
  content: "\e91e";
}
.feather-box:before {
  content: "\e91f";
}
.feather-briefcase:before {
  content: "\e920";
}
.feather-calendar:before {
  content: "\e921";
}
.feather-camera:before {
  content: "\e922";
}
.feather-camera-off:before {
  content: "\e923";
}
.feather-cast:before {
  content: "\e924";
}
.feather-check:before {
  content: "\e925";
}
.feather-check-circle:before {
  content: "\e926";
}
.feather-check-square:before {
  content: "\e927";
}
.feather-chevron-down:before {
  content: "\e928";
}
.feather-chevron-left:before {
  content: "\e929";
}
.feather-chevron-right:before {
  content: "\e92a";
}
.feather-chevron-up:before {
  content: "\e92b";
}
.feather-chevrons-down:before {
  content: "\e92c";
}
.feather-chevrons-left:before {
  content: "\e92d";
}
.feather-chevrons-right:before {
  content: "\e92e";
}
.feather-chevrons-up:before {
  content: "\e92f";
}
.feather-chrome:before {
  content: "\e930";
}
.feather-circle:before {
  content: "\e931";
}
.feather-clipboard:before {
  content: "\e932";
}
.feather-clock:before {
  content: "\e933";
}
.feather-cloud:before {
  content: "\e934";
}
.feather-cloud-drizzle:before {
  content: "\e935";
}
.feather-cloud-lightning:before {
  content: "\e936";
}
.feather-cloud-off:before {
  content: "\e937";
}
.feather-cloud-rain:before {
  content: "\e938";
}
.feather-cloud-snow:before {
  content: "\e939";
}
.feather-codepen:before {
  content: "\e93a";
}
.feather-command:before {
  content: "\e93b";
}
.feather-compass:before {
  content: "\e93c";
}
.feather-copy:before {
  content: "\e93d";
}
.feather-corner-down-left:before {
  content: "\e93e";
}
.feather-corner-down-right:before {
  content: "\e93f";
}
.feather-corner-left-down:before {
  content: "\e940";
}
.feather-corner-left-up:before {
  content: "\e941";
}
.feather-corner-right-down:before {
  content: "\e942";
}
.feather-corner-right-up:before {
  content: "\e943";
}
.feather-corner-up-left:before {
  content: "\e944";
}
.feather-corner-up-right:before {
  content: "\e945";
}
.feather-cpu:before {
  content: "\e946";
}
.feather-credit-card:before {
  content: "\e947";
}
.feather-crop:before {
  content: "\e948";
}
.feather-crosshair:before {
  content: "\e949";
}
.feather-delete:before {
  content: "\e94a";
}
.feather-disc:before {
  content: "\e94b";
}
.feather-download:before {
  content: "\e94c";
}
.feather-download-cloud:before {
  content: "\e94d";
}
.feather-droplet:before {
  content: "\e94e";
}
.feather-edit:before {
  content: "\e94f";
}
.feather-edit-2:before {
  content: "\e950";
}
.feather-edit-3:before {
  content: "\e951";
}
.feather-external-link:before {
  content: "\e952";
}
.feather-eye:before {
  content: "\e953";
}
.feather-eye-off:before {
  content: "\e954";
}
.feather-facebook:before {
  content: "\e955";
}
.feather-fast-forward:before {
  content: "\e956";
}
.feather-feather:before {
  content: "\e957";
}
.feather-file:before {
  content: "\e958";
}
.feather-file-minus:before {
  content: "\e959";
}
.feather-file-plus:before {
  content: "\e95a";
}
.feather-file-text:before {
  content: "\e95b";
}
.feather-film:before {
  content: "\e95c";
}
.feather-filter:before {
  content: "\e95d";
}
.feather-flag:before {
  content: "\e95e";
}
.feather-folder:before {
  content: "\e95f";
}
.feather-github:before {
  content: "\e960";
}
.feather-gitlab:before {
  content: "\e961";
}
.feather-globe:before {
  content: "\e962";
}
.feather-grid:before {
  content: "\e963";
}
.feather-hash:before {
  content: "\e964";
}
.feather-headphones:before {
  content: "\e965";
}
.feather-heart:before {
  content: "\e966";
}
.feather-help-circle:before {
  content: "\e967";
}
.feather-home:before {
  content: "\e968";
}
.feather-image:before {
  content: "\e969";
}
.feather-inbox:before {
  content: "\e96a";
}
.feather-info:before {
  content: "\e96b";
}
.feather-instagram:before {
  content: "\e96c";
}
.feather-italic:before {
  content: "\e96d";
}
.feather-layers:before {
  content: "\e96e";
}
.feather-layout:before {
  content: "\e96f";
}
.feather-life-buoy:before {
  content: "\e970";
}
.feather-link:before {
  content: "\e971";
}
.feather-link-2:before {
  content: "\e972";
}
.feather-list:before {
  content: "\e973";
}
.feather-loader:before {
  content: "\e974";
}
.feather-lock:before {
  content: "\e975";
}
.feather-log-in:before {
  content: "\e976";
}
.feather-log-out:before {
  content: "\e977";
}
.feather-mail:before {
  content: "\e978";
}
.feather-map:before {
  content: "\e979";
}
.feather-map-pin:before {
  content: "\e97a";
}
.feather-maximize:before {
  content: "\e97b";
}
.feather-maximize-2:before {
  content: "\e97c";
}
.feather-menu:before {
  content: "\e97d";
}
.feather-message-circle:before {
  content: "\e97e";
}
.feather-message-square:before {
  content: "\e97f";
}
.feather-mic:before {
  content: "\e980";
}
.feather-mic-off:before {
  content: "\e981";
}
.feather-minimize:before {
  content: "\e982";
}
.feather-minimize-2:before {
  content: "\e983";
}
.feather-minus:before {
  content: "\e984";
}
.feather-minus-circle:before {
  content: "\e985";
}
.feather-minus-square:before {
  content: "\e986";
}
.feather-monitor:before {
  content: "\e987";
}
.feather-moon:before {
  content: "\e988";
}
.feather-more-horizontal:before {
  content: "\e989";
}
.feather-more-vertical:before {
  content: "\e98a";
}
.feather-move:before {
  content: "\e98b";
}
.feather-music:before {
  content: "\e98c";
}
.feather-navigation:before {
  content: "\e98d";
}
.feather-navigation-2:before {
  content: "\e98e";
}
.feather-octagon:before {
  content: "\e98f";
}
.feather-package:before {
  content: "\e990";
}
.feather-paperclip:before {
  content: "\e991";
}
.feather-pause:before {
  content: "\e992";
}
.feather-pause-circle:before {
  content: "\e993";
}
.feather-percent:before {
  content: "\e994";
}
.feather-phone:before {
  content: "\e995";
}
.feather-phone-call:before {
  content: "\e996";
}
.feather-phone-forwarded:before {
  content: "\e997";
}
.feather-phone-incoming:before {
  content: "\e998";
}
.feather-phone-missed:before {
  content: "\e999";
}
.feather-phone-off:before {
  content: "\e99a";
}
.feather-phone-outgoing:before {
  content: "\e99b";
}
.feather-pie-chart:before {
  content: "\e99c";
}
.feather-play:before {
  content: "\e99d";
}
.feather-play-circle:before {
  content: "\e99e";
}
.feather-plus:before {
  content: "\e99f";
}
.feather-plus-circle:before {
  content: "\e9a0";
}
.feather-plus-square:before {
  content: "\e9a1";
}
.feather-pocket:before {
  content: "\e9a2";
}
.feather-power:before {
  content: "\e9a3";
}
.feather-printer:before {
  content: "\e9a4";
}
.feather-radio:before {
  content: "\e9a5";
}
.feather-refresh-ccw:before {
  content: "\e9a6";
}
.feather-refresh-cw:before {
  content: "\e9a7";
}
.feather-repeat:before {
  content: "\e9a8";
}
.feather-rewind:before {
  content: "\e9a9";
}
.feather-rotate-ccw:before {
  content: "\e9aa";
}
.feather-rotate-cw:before {
  content: "\e9ab";
}
.feather-save:before {
  content: "\e9ac";
}
.feather-scissors:before {
  content: "\e9ad";
}
.feather-search:before {
  content: "\e9ae";
}
.feather-server:before {
  content: "\e9af";
}
.feather-settings:before {
  content: "\e9b0";
}
.feather-share:before {
  content: "\e9b1";
}
.feather-share-2:before {
  content: "\e9b2";
}
.feather-shield:before {
  content: "\e9b3";
}
.feather-shopping-cart:before {
  content: "\e9b4";
}
.feather-shuffle:before {
  content: "\e9b5";
}
.feather-sidebar:before {
  content: "\e9b6";
}
.feather-skip-back:before {
  content: "\e9b7";
}
.feather-skip-forward:before {
  content: "\e9b8";
}
.feather-slack:before {
  content: "\e9b9";
}
.feather-slash:before {
  content: "\e9ba";
}
.feather-sliders:before {
  content: "\e9bb";
}
.feather-smartphone:before {
  content: "\e9bc";
}
.feather-speaker:before {
  content: "\e9bd";
}
.feather-square:before {
  content: "\e9be";
}
.feather-star:before {
  content: "\e9bf";
}
.feather-stop-circle:before {
  content: "\e9c0";
}
.feather-sun:before {
  content: "\e9c1";
}
.feather-sunrise:before {
  content: "\e9c2";
}
.feather-sunset:before {
  content: "\e9c3";
}
.feather-tablet:before {
  content: "\e9c4";
}
.feather-tag:before {
  content: "\e9c5";
}
.feather-target:before {
  content: "\e9c6";
}
.feather-thermometer:before {
  content: "\e9c7";
}
.feather-thumbs-down:before {
  content: "\e9c8";
}
.feather-thumbs-up:before {
  content: "\e9c9";
}
.feather-toggle-left:before {
  content: "\e9ca";
}
.feather-toggle-right:before {
  content: "\e9cb";
}
.feather-trash:before {
  content: "\e9cc";
}
.feather-trash-2:before {
  content: "\e9cd";
}
.feather-trending-down:before {
  content: "\e9ce";
}
.feather-trending-up:before {
  content: "\e9cf";
}
.feather-triangle:before {
  content: "\e9d0";
}
.feather-tv:before {
  content: "\e9d1";
}
.feather-twitter:before {
  content: "\e9d2";
}
.feather-type:before {
  content: "\e9d3";
}
.feather-umbrella:before {
  content: "\e9d4";
}
.feather-underline:before {
  content: "\e9d5";
}
.feather-unlock:before {
  content: "\e9d6";
}
.feather-upload:before {
  content: "\e9d7";
}
.feather-upload-cloud:before {
  content: "\e9d8";
}
.feather-user:before {
  content: "\e9d9";
}
.feather-user-check:before {
  content: "\e9da";
}
.feather-user-minus:before {
  content: "\e9db";
}
.feather-user-plus:before {
  content: "\e9dc";
}
.feather-user-x:before {
  content: "\e9dd";
}
.feather-users:before {
  content: "\e9de";
}
.feather-video:before {
  content: "\e9df";
}
.feather-video-off:before {
  content: "\e9e0";
}
.feather-voicemail:before {
  content: "\e9e1";
}
.feather-volume:before {
  content: "\e9e2";
}
.feather-volume-1:before {
  content: "\e9e3";
}
.feather-volume-2:before {
  content: "\e9e4";
}
.feather-volume-x:before {
  content: "\e9e5";
}
.feather-watch:before {
  content: "\e9e6";
}
.feather-wifi:before {
  content: "\e9e7";
}
.feather-wifi-off:before {
  content: "\e9e8";
}
.feather-wind:before {
  content: "\e9e9";
}
.feather-x:before {
  content: "\e9ea";
}
.feather-x-circle:before {
  content: "\e9eb";
}
.feather-x-square:before {
  content: "\e9ec";
}
.feather-zap:before {
  content: "\e9ed";
}
.feather-zoom-in:before {
  content: "\e9ee";
}
.feather-zoom-out:before {
  content: "\e9ef";
}
